*{
    margin: 0;
    padding: 0;
}

/* logo */

#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}

/* navigation bar */

#navbar{
    display: flex;
    align-items: center;
    position: fixed;
}

/* navigation list styling */

#navbar ul{
    display: flex;
    font-family: 'Indie Flower', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    text-decoration: none;
}

/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home::before{
    content: "";
    background: url('image.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 1500px;
    z-index: -1;
}

/* Button */

#button{
    padding: 6px 20px;
    border: 2px solid #00e5f2;
    background-color: #6be4ff;
    color: rgb(0, 0, 0);
    margin: 90px;
    margin-right: 608px;
    margin-top: 225px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
    touch-action: manipulation;
}

.contact{
    position: relative;
    display: flex;
}

.contact p{
    margin-top: 1141px;
    margin-left: 322px;
    font-size: 1.5rem;
    color: rgb(33, 130, 130);
}